<footer class="page-footer">
  <div class="page-footer__content">
    <span class="page-footer__content-copyright">© 2023 OKKE</span>
    <a class="page-footer__content-policy base-link" href="#">Политика конфиденциальности</a>
    <!-- <a class="page-footer__content-link base-link" href="#">Карта сайта</a> -->
    <a class="page-footer__content-isart-link base-link" target="_blank" rel="noreferrer noopener" href="https://is-art.ru/">
      <span class="page-footer__content-isart-text">Разработано</span>
      <svg class="page-footer__content-isart-icon" width="52" height="22" aria-hidden="true">
        <use href="img/icon/sprite.svg#isart-icon"></use>
      </svg>
    </a>
  </div>
</footer>

<script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
<script src="js/index.min.js?v=1.0"></script>
<script src="https://cdn.jsdelivr.net/gh/peterhry/CircleType@2.3.1/dist/circletype.min.js"></script>

</body>

</html>