<div class="catalogue__slider-slide swiper-slide">
  <img class="catalogue__slider-slide-img" src="img/image/@@img" width="" height="" alt="#">
  <div class="catalogue__slider-slide-info">
    <h2 class="catalogue__slider-slide-title base-title">@@title</h2>
    <p class="catalogue__slider-slide-text base-par">@@text</p>
    <div class="catalogue__slider-slide-bottom">
      <button class="catalogue__slider-slide-button modal-with-form__button base-button">
        <span class="catalogue__slider-slide-button-caption">Купить</span>
        <span class="catalogue__slider-slide-button-circle">
          <svg class="catalogue__slider-slide-button-icon" width="13" height="12" aria-hidden="true">
            <use href="img/icon/sprite.svg#cart-icon"></use>
          </svg>
        </span>
      </button>
      <a class="catalogue__slider-slide-link base-link" href="#">Консультация</a>
    </div>
  </div>
</div>