<section class="catalogue">
  <div class="catalogue__container">
    <h1 class="catalogue__title base-title"></h1>
    <div class="catalogue__slider swiper">
      <div class="catalogue__slider-wrapper swiper-wrapper">
        @@include('_catalogue-item.html', {
        "title": "Смазка силиконовая",
        "text": "Применяется в узлах трения колесных и гусеничных транспортных средств, промышленного оборудования и в судовых механизмах различного назначения. Смазка для замков, петель, откатных ворот. Обладает антикоррозийным действием и консервационными
        свойствами.",
        "img": "care-1.png",
        })
      </div>
    </div>
  </div>
</section>