<div class="catalogue__slider-item swiper-slide">
  <img class="catalogue__slider-item-img" src="img/image/@@img" width="" height="" alt="#">
  <div class="catalogue__slider-item-info">
    <h2 class="catalogue__slider-item-title base-title">@@title</h2>
    <p class="catalogue__slider-item-text base-par">@@text</p>
    <div class="catalogue__slider-item-bottom">
      <button class="catalogue__slider-item-button modal-with-form__button base-button">
        <span class="catalogue__slider-item-button-caption">Купить</span>
        <span class="catalogue__slider-item-button-circle">

        </span>
      </button>
      <a class="catalogue__slider-item-link base-link" href="#">Консультация</a>
    </div>
  </div>
</div>