<section class="contacts" id="our_contacts">

  <div class="contacts__map-container">
    <iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3A47957a1f41fa0683d3c29a8acc0ffa7c765575249fc3dad5a76095040814a73b&amp;source=constructor" width="100%" height="540" frameborder="0"></iframe>
  </div>

  <div class="contacts__content">
    <h2 class="contacts__content-title base-title">Наши контакты:</h2>
    <div class="contacts__content-middle">
      <span class="contacts__content-subtitle">Адрес:</span>
      <span class="contacts__content-text">Владимирская обл., г. Киржач, ул. Шелковиков, д.27А</span>
    </div>
    <div class="contacts__content-bottom">
      <div class="contacts__content-bottom-item">
        <span class="contacts__content-subtitle">Консультация:</span>
        <a class="contacts__content-bottom-phone base-link" href="#">+7 (905) 614-33-44</a>
        <a class="contacts__content-bottom-email base-link" href="#">partners@okke.ru</a>
      </div>
      <div class="contacts__content-bottom-item">
        <span class="contacts__content-subtitle">Для опта:</span>
        <a class="contacts__content-bottom-phone base-link" href="#">+7 (905) 614-33-44</a>
        <a class="contacts__content-bottom-email base-link" href="#">partners@okke.ru</a>
      </div>
      <div class="contacts__content-bottom-item">
        <span class="contacts__content-subtitle">Для розницы:</span>
        <a class="contacts__content-bottom-phone base-link" href="#">+7 (905) 614-33-44</a>
      </div>
    </div>
    <div class="contacts__content-socials">
      <a class="contacts__content-socials-link base-link" href="#">
        <img class="contacts__content-socials-img" src="img/image/socials-footer-img-1.png" width="19" height="11" alt="#">
      </a>
      <a class="contacts__content-socials-link base-link" href="#">
        <img class="contacts__content-socials-img" src="img/image/socials-footer-img-2.png" width="14" height="12" alt="#">
      </a>
      <a class="contacts__content-socials-link base-link" href="#">
        <img class="contacts__content-socials-img" src="img/image/socials-footer-img-3.png" width="14" height="14" alt="#">
      </a>
    </div>
  </div>
</section>