<section class="description">
  <div class="description__container">
    <div class="description__column description__column--left">
      <h2 class="description__column-title base-title">@@title</h2>
      <p class="description__column-text base-par">@@text</p>
    </div>
    <a class="description__column description__column--right base-link" href="#">
      <img class="description__column-img" src="img/image/pdf.png" width="82" height="89" alt="#">
      <span class="description__column-label">Скачать каталог</span>
    </a>
  </div>
</section>