<section class="fake-footer">
  <div class="fake-footer__container base-container">
    <a class="fake-footer__logo base-link" href="#">
      <img class="fake-footer__logo-img" src="../../img/image/logo-index3.png" width="115" height="110" alt=" #">
    </a>
    <div class="fake-footer__partials">
      <div class="fake-footer__partials-item">
        <ul class="fake-footer__partials-list base-list">
          <li class="fake-footer__partials-list-item">
            <a class="fake-footer__partials-list-link base-link" href="#">Меню:</a>
          </li>
          <li class="fake-footer__partials-list-item">
            <a class="fake-footer__partials-list-link base-link" href="#">Главная</a>
          </li>
          <li class="fake-footer__partials-list-item">
            <a class="fake-footer__partials-list-link base-link" href="#">Описание бренда</a>
          </li>
          <li class="fake-footer__partials-list-item">
            <a class="fake-footer__partials-list-link base-link" href="#">Линейки бренда</a>
          </li>
          <li class="fake-footer__partials-list-item">
            <a class="fake-footer__partials-list-link base-link" href="#">Производство</a>
          </li>
          <li class="fake-footer__partials-list-item">
            <a class="fake-footer__partials-list-link base-link" href="#">Новости</a>
          </li>
          <li class="fake-footer__partials-list-item">
            <a class="fake-footer__partials-list-link base-link" href="#">Обратная связь</a>
          </li>
          <li class="fake-footer__partials-list-item">
            <a class="fake-footer__partials-list-link base-link" href="#">Контакты</a>
          </li>
        </ul>
      </div>
      <div class="fake-footer__partials-item">
        <ul class="fake-footer__partials-list base-list">
          <li class="fake-footer__partials-list-item">
            <a class="fake-footer__partials-list-link base-link" href="#">OKKE AUTO:</a>
          </li>
          <li class="fake-footer__partials-list-item">
            <a class="fake-footer__partials-list-link base-link" href="#">Каталог</a>
          </li>
          <li class="fake-footer__partials-list-item">
            <a class="fake-footer__partials-list-link base-link" href="#">Бестселлер</a>
          </li>
          <li class="fake-footer__partials-list-item">
            <a class="fake-footer__partials-list-link base-link" href="#">Товары</a>
          </li>
        </ul>
      </div>
      <div class="fake-footer__partials-item">
        <ul class="fake-footer__partials-list base-list">
          <li class="fake-footer__partials-list-item">
            <a class="fake-footer__partials-list-link base-link" href="#">OKKE SANI:</a>
          </li>
          <li class="fake-footer__partials-list-item">
            <a class="fake-footer__partials-list-link base-link" href="#">Каталог</a>
          </li>
          <li class="fake-footer__partials-list-item">
            <a class="fake-footer__partials-list-link base-link" href="#">Бестселлер</a>
          </li>
          <li class="fake-footer__partials-list-item">
            <a class="fake-footer__partials-list-link base-link" href="#">Товары</a>
          </li>
        </ul>
      </div>
      <div class="fake-footer__partials-item">
        <ul class="fake-footer__partials-list base-list">
          <li class="fake-footer__partials-list-item">
            <a class="fake-footer__partials-list-link base-link" href="#">OKKE PROF:</a>
          </li>
          <li class="fake-footer__partials-list-item">
            <a class="fake-footer__partials-list-link base-link" href="#">Каталог</a>
          </li>
          <li class="fake-footer__partials-list-item">
            <a class="fake-footer__partials-list-link base-link" href="#">Бестселлер</a>
          </li>
          <li class="fake-footer__partials-list-item">
            <a class="fake-footer__partials-list-link base-link" href="#">Товары</a>
          </li>
        </ul>
      </div>
    </div>

  </div>

</section>