<section class="fake-footer">
  <a class="fake-footer__logo base-link" href="#">
    <img class="fake-footer__logo-img" src="img/image/footer-heading-logo.png" width="115" height="138" alt="#">
  </a>
  <div class="fake-footer__partials">
    <div class="fake-footer__partials-item">
      <ul class="fake-footer__partials-list base-list">
        <li class="fake-footer__partials-list-item">
          <a class="fake-footer__partials-link base-link" href="#">Меню:</a>
        </li>
        <li class="fake-footer__partials-list-item">
          <a class="fake-footer__partials-link base-link" href="#">Главная</a>
        </li>
        <li class="fake-footer__partials-list-item">
          <a class="fake-footer__partials-link base-link" href="#">Описание бренда</a>
        </li>
        <li class="fake-footer__partials-list-item">
          <a class="fake-footer__partials-link base-link" href="#">Линейки бренда</a>
        </li>
        <li class="fake-footer__partials-list-item">
          <a class="fake-footer__partials-link base-link" href="#">Производство</a>
        </li>
        <li class="fake-footer__partials-list-item">
          <a class="fake-footer__partials-link base-link" href="#">Новости</a>
        </li>
        <li class="fake-footer__partials-list-item">
          <a class="fake-footer__partials-link base-link" href="#">Обратная связь</a>
        </li>
        <li class="fake-footer__partials-list-item">
          <a class="fake-footer__partials-link base-link" href="#">Контакты</a>
        </li>
      </ul>
    </div>
    <div class="fake-footer__partials-item">
      <ul class="fake-footer__partials-list base-list">
        <li class="fake-footer__partials-list-item">
          <a class="fake-footer__partials-link base-link" href="#">Меню:</a>
        </li>
        <li class="fake-footer__partials-list-item">
          <a class="fake-footer__partials-link base-link" href="#">Главная</a>
        </li>
        <li class="fake-footer__partials-list-item">
          <a class="fake-footer__partials-link base-link" href="#">Описание бренда</a>
        </li>
        <li class="fake-footer__partials-list-item">
          <a class="fake-footer__partials-link base-link" href="#">Линейки бренда</a>
        </li>
        <li class="fake-footer__partials-list-item">
          <a class="fake-footer__partials-link base-link" href="#">Производство</a>
        </li>
        <li class="fake-footer__partials-list-item">
          <a class="fake-footer__partials-link base-link" href="#">Новости</a>
        </li>
        <li class="fake-footer__partials-list-item">
          <a class="fake-footer__partials-link base-link" href="#">Обратная связь</a>
        </li>
        <li class="fake-footer__partials-list-item">
          <a class="fake-footer__partials-link base-link" href="#">Контакты</a>
        </li>
      </ul>
    </div>
    <div class="fake-footer__partials-item">
      <ul class="fake-footer__partials-list base-list">
        <li class="fake-footer__partials-list-item">
          <a class="fake-footer__partials-link base-link" href="#">Меню:</a>
        </li>
        <li class="fake-footer__partials-list-item">
          <a class="fake-footer__partials-link base-link" href="#">Главная</a>
        </li>
        <li class="fake-footer__partials-list-item">
          <a class="fake-footer__partials-link base-link" href="#">Описание бренда</a>
        </li>
        <li class="fake-footer__partials-list-item">
          <a class="fake-footer__partials-link base-link" href="#">Линейки бренда</a>
        </li>
        <li class="fake-footer__partials-list-item">
          <a class="fake-footer__partials-link base-link" href="#">Производство</a>
        </li>
        <li class="fake-footer__partials-list-item">
          <a class="fake-footer__partials-link base-link" href="#">Новости</a>
        </li>
        <li class="fake-footer__partials-list-item">
          <a class="fake-footer__partials-link base-link" href="#">Обратная связь</a>
        </li>
        <li class="fake-footer__partials-list-item">
          <a class="fake-footer__partials-link base-link" href="#">Контакты</a>
        </li>
      </ul>
    </div>
    <div class="fake-footer__partials-item">
      <ul class="fake-footer__partials-list base-list">
        <li class="fake-footer__partials-list-item">
          <a class="fake-footer__partials-link base-link" href="#">Меню:</a>
        </li>
        <li class="fake-footer__partials-list-item">
          <a class="fake-footer__partials-link base-link" href="#">Главная</a>
        </li>
        <li class="fake-footer__partials-list-item">
          <a class="fake-footer__partials-link base-link" href="#">Описание бренда</a>
        </li>
        <li class="fake-footer__partials-list-item">
          <a class="fake-footer__partials-link base-link" href="#">Линейки бренда</a>
        </li>
        <li class="fake-footer__partials-list-item">
          <a class="fake-footer__partials-link base-link" href="#">Производство</a>
        </li>
        <li class="fake-footer__partials-list-item">
          <a class="fake-footer__partials-link base-link" href="#">Новости</a>
        </li>
        <li class="fake-footer__partials-list-item">
          <a class="fake-footer__partials-link base-link" href="#">Обратная связь</a>
        </li>
        <li class="fake-footer__partials-list-item">
          <a class="fake-footer__partials-link base-link" href="#">Контакты</a>
        </li>
      </ul>
    </div>
  </div>
</section>