<section class="heading">
  <video class="heading__video-background" src="@@video" autoplay muted loop>
  </video>
  <div class="heading__content">
    <div class="heading__content-info">
      <h1 class="heading__content-title base-title">@@title</h1>
      <p class="heading__content-text base-par">@@text</p>
    </div>
    <a class="heading__round-link round-link base-link" data-fancybox href="@@video">
      <span class="heading__round-text round-text">Открыть видео со звуком—Открыть видео со звуком—</span>
      <svg class="heading__round-img" width="25" height="28" aria-hidden="true">
        <use href="img/icon/sprite.svg#play2-icon"></use>
      </svg>
    </a>
  </div>
</section>