<section class="heading">
  <video class="heading__video-background" src="@@video" autoplay muted loop>
  </video>
  <div class="heading__content">
    <div class="heading__content-info">
      <h1 class="heading__content-title base-title" style="color:@@color" data-aos="fade-right" data-aos-duration="1000">@@title</h1>
      <p class="heading__content-text base-par" style="color:@@color" data-aos="fade-right" data-aos-duration="1000" data-aos-delay="500">@@text</p>
    </div>
    <a class="heading__round-link round-link base-link" data-fancybox href="@@video">
      <span class="heading__round-text round-text">Открыть видео со звуком—Открыть видео со звуком—</span>
      <svg class="heading__round-img" width="25" height="28" viewBox="0 0 93 123" fill="none" xmlns="http://www.w3.org/2000/svg">
        <g clip-path="url(#clip0_1_2)">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M92.2 60.97L0 122.88V0L92.2 60.97Z" fill="white" />
        </g>
        <defs>
          <clipPath id="clip0_1_2">
            <rect width="92.2" height="122.88" fill="white" />
          </clipPath>
        </defs>
      </svg>
    </a>
  </div>
</section>