<section class="heading">
  <div class="heading__cover"></div>
  <video class="heading__video-background" src="@@video" autoplay muted loop>
  </video>
  <div class="heading__content">
    <div class="heading__content-info">
      <h1 class="heading__content-title base-title">@@title</h1>
      <p class="heading__content-text base-par">@@text</p>
    </div>
    <a class="heading__round-link base-link" data-fancybox href="@@video">
      <span class="heading__round-text">Открыть видео со звуком—Открыть видео со звуком—</span>
      <img class="heading__round-img" width="22" height="24" src="img/image/play.png" aria-hidden="true">
    </a>
  </div>
</section>