<div class="reviews__slider-slide swiper-slide" data-rating="@@rating" data-market="@@market">
  <div class="reviews__slider-slide-top">
    <span class="reviews__slider-slide-name">@@name</span>
    <div class="reviews__slider-slide-market">
      <img class="reviews__slider-slide-market-img" src="img/image/yamarket.png" width="19" height="19" alt="Яндекс-маркет" data-market="Yandex">
      <img class="reviews__slider-slide-market-img" src="img/image/ozon.png" width="34" height="8" alt="Озон" data-market="Ozon">
    </div>
    <div class="reviews__slider-slide-stars">
    </div>
  </div>
  <p class="reviews__slider-slide-text base-par">@@text</p>
</div>