@use "../mixins";

.catalogue {
  padding: 60px 0 50px 0;

  @include mixins.respond-to(notDesktop) {
    padding: 70px 0 50px;
  }

  &__title {
    display: inline-block;

    font-size: 40px;
    font-weight: 600;
    text-transform: uppercase;
    color: #323648;

    margin: 0 0 50px 100px;

    @include mixins.respond-to(notDesktop) {
      font-size: 25px;
      line-height: 31px;

      margin: 0 5% 40px 5%;
    }
  }

  &__slider-container {
    position: relative;
  }

  &__slider {
    width: 100%;
    max-width: 100%;
  }

  &__slider-wrapper {
    margin: 0 0 40px 0;

    // & .swiper-slide {
    //   filter: grayscale(1);

    //   transition-property: transform, opacity, height, filter !important;
    // }

    // & .swiper-slide-visible {
    //   filter: none;

    //   transition-property: transform, opacity, height, filter !important;
    // }
  }

  &__slider-slide {
    display: flex;
    flex-direction: column;

    width: 100%;
    max-width: 100%;
    height: auto;

    padding: 0 105px;

    @include mixins.respond-to(notDesktop) {
      padding: 0 5%;
    }
  }

  &__slider-slide-container {
    display: flex;
    align-items: center;
    gap: 46px;
    flex-grow: 1;

    width: 100%;
    height: 100%;
    background-color: #ffffff;
    border: 4px solid #EFEEEE;

    padding: 46px 60px 54px 33px;

    @include mixins.respond-to(notDesktop) {
      flex-direction: column;
      gap: 30px;

      border: none;
      border: 1px solid #EFEEEE;

      padding: 20px;
    }

    @include mixins.respond-to(onlyDesktopS) {
      flex-direction: column;
      gap: 30px;

      border: none;

      padding: 0;
    }
  }

  &__slider-slide-img {
    width: 321px;
    // height: 544px;
    object-fit: cover;

    @include mixins.respond-to(mobileOnly) {
      width: 100%;
      max-width: 321px;
      height: auto;
      max-height: 250px;
    }

    @include mixins.respond-to(tabletOnly) {
      width: 100%;
      max-width: 321px;
      height: auto;
      max-height: 350px;
    }

    @include mixins.respond-to(onlyDesktopS) {
      width: 100%;
      max-width: 321px;
      height: auto;
      max-height: 350px;
    }
  }

  &__slider-slide-info {
    display: flex;
    flex-direction: column;

    @include mixins.respond-to(notDesktop) {
      & .catalogue__slider-slide-info {
        order: 1;
      }

      & .catalogue__slider-slide-text {
        order: 2;
      }

      & .catalogue__slider-slide-bottom {
        order: 4;
      }

      & .catalogue__slider-slide-reviews {
        order: 3;
      }
    }

    @include mixins.respond-to(mobileOnly) {
      width: 100%;
    }
  }

  &__slider-slide-title {
    display: inline-block;

    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    color: #323648;

    margin: 0 0 26px 0;

    @include mixins.respond-to(notDesktop) {
      font-size: 18px;
      line-height: 24px;

      margin: 0 0 20px 0;
    }
  }

  &__slider-slide-text {
    display: inline-block;

    font-size: 14px;
    font-weight: 500;
    line-height: 22px;
    color: #62646B;

    margin: 0 0 40px 0;

    @include mixins.respond-to(notDesktop) {
      font-size: 18px;
      line-height: 28px;

      margin: 0 0 30px 0;
    }
  }

  &__slider-slide-bottom {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;

    margin: 0 0 40px 0;

    @include mixins.respond-to(notDesktop) {
      flex-direction: column;
      justify-content: space-between;

      margin: 0;
    }
  }

  &__slider-slide-button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 11px;

    border-radius: 20px;
    background: #FDD5BF;

    transition: background-color 0.2s cubic-bezier(0.65, 0, 0.35, 1);

    padding: 6px 6px 6px 28px;

    @include mixins.respond-to(notDesktop) {
      width: 100%;
      max-width: 290px;

      padding: 12px 6px 12px 28px;
    }

    &:hover {
      background-color: var(--color-brick-red);

      transition: background-color 0.2s cubic-bezier(0.65, 0, 0.35, 1);

      & .catalogue__slider-slide-button-caption {
        color: var(--color-white);

        transition: color 0.2s cubic-bezier(0.65, 0, 0.35, 1);
      }
    }
  }

  &__slider-slide-button-caption {
    color: #323648;
    font-size: 14px;
    font-weight: 600;
    line-height: 22px;

    transition: color 0.2s cubic-bezier(0.65, 0, 0.35, 1);

    @include mixins.respond-to(notDesktop) {
      font-family: var(--font-family-default);
      font-size: 18px;
      line-height: 28px;
    }
  }

  &__slider-slide-button-circle {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 33px;
    height: 33px;
    flex-shrink: 0;
    border-radius: 50%;
    background-color: var(--color-white);
  }

  &__slider-slide-reviews {
    display: grid;
    grid-template: 1fr / repeat(2, 311px);
    gap: 24px;

    @include mixins.respond-to(notDesktop) {
      display: flex;
      flex-wrap: wrap;
      gap: 15px;

      margin: 0 0 30px 0;
    }
  }

  &__reviews-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 13px;

    width: 310px;
    min-height: 160px;
    border: 1px solid #484848;
    border-radius: 20px;

    padding: 20px;

    @include mixins.respond-to(notDesktop) {
      width: 100%;
    }

    &-top {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      gap: 8px;

      @include mixins.respond-to(notDesktop) {

        & .catalogue__reviews-item-stars {
          display: none;
        }

        & .catalogue__reviews-item-market-img {
          display: none;
        }
      }
    }

    &-name {
      font-size: 14px;
      font-weight: 500;
      line-height: 19px;
      color: #323648;

      @include mixins.respond-to(notDesktop) {
        font-size: 16px;
        line-height: 26px;
      }
    }

    &-stars {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 5px;

      height: 16px;

      & svg {
        width: 16px;
        height: 16px;
      }
    }

    &-market {
      display: flex;
      align-items: center;
      justify-content: center;

      padding: 1px 0 0 0;
    }

    &-market-img {
      display: none;

      &--active {
        display: block;
      }
    }

    &-text {
      font-size: 14px;
      line-height: 130%;
      font-weight: 400;
      color: #a1a5b2;
    }

    &-bottom {
      display: none;
      align-items: center;
      justify-content: flex-start;
      gap: 10px;

      width: 100%;

      @include mixins.respond-to(notDesktop) {
        display: flex;
      }
    }
  }

  &__slider-pagination {
    position: relative;
    top: auto !important;
    right: auto !important;
    bottom: auto !important;
    left: auto !important;

    width: auto !important;
    height: 4px;
    background-color: #D7D9E0;

    margin: 0 105px;

    @include mixins.respond-to(notDesktop) {
      height: 8px !important;

      margin: 0 5%;
    }

    & .swiper-pagination-progressbar-fill {
      background-color: #F2A69F;
    }
  }

  &__slider-navigation {
    position: absolute;
    top: 50%;
    left: 50%;

    display: flex;
    align-items: center;
    justify-content: space-between;

    width: calc(100% - 81px);
    height: 48px;
    user-select: none;
    pointer-events: none;

    transform: translate(-50%, -50%);

    z-index: 10;

    & .swiper-button-disabled {
      opacity: 30%;
      user-select: none;
      pointer-events: none;

      transition: opacity 0.2s cubic-bezier(0.65, 0, 0.35, 1);
    }

    @include mixins.respond-to(notDesktop) {
      display: none;
    }
  }

  &__slider-navigation-arrow {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 48px;
    height: 48px;
    background-color: #D9D9D9;
    border-radius: 50%;

    user-select: all;
    pointer-events: all;

    transition: background-color 0.2s, opacity 0.2s cubic-bezier(0.65, 0, 0.35, 1);

    &:hover {
      background-color: var(--color-brick-red);

      transition: background-color 0.2s cubic-bezier(0.65, 0, 0.35, 1);

      & .brands__slider-navigation-arrow-icon {
        filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7500%) hue-rotate(147deg) brightness(114%) contrast(121%);

        transition: filter 0.2s cubic-bezier(0.65, 0, 0.35, 1);
      }
    }
  }

  &__slider-navigation-arrow-icon {
    transition: filter 0.2s cubic-bezier(0.65, 0, 0.35, 1);
  }

  &__wrapper {
    display: grid;
    grid-template: repeat(2, 1fr) / repeat(3, 1fr);
    gap: 30px;
    align-content: start;
    justify-content: start;

    padding: 0 105px;
    margin: 40px 0 30px 0;

    @include mixins.respond-to(notDesktop) {
      grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
      gap: 10px;

      width: 90%;

      padding: 0;
      margin: 40px 5% 30px 5%;
    }

    &-item {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      border: 1px solid #BBB9B8;

      padding: 20px 30px 30px 30px;

      @include mixins.respond-to(notDesktop) {
        padding: 10px 20px 20px 20px;
      }
    }
  }

  &__item {
    &-image {
      margin: 0 0 6px 0;
    }

    &-img {
      object-fit: contain;
    }

    &-title {
      font-size: 18px;
      font-weight: 500;
      line-height: 24px;
      color: #323648;
      text-align: center;

      margin: 0 0 22px 0;
    }

    &-link {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-shrink: 0;

      width: fit-content;
      height: 45px;
      background: #FDD5BF;
      border-radius: 20px;

      font-size: 14px;
      font-weight: 600;
      line-height: 22px;
      color: #323648;

      transition: background-color 0.2s cubic-bezier(0.65, 0, 0.35, 1), color 0.2s cubic-bezier(0.65, 0, 0.35, 1);

      padding: 18px 37px;
      margin: auto 0 0 0;

      @include mixins.respond-to(notDesktop) {
        font-size: 18px;
        line-height: 28px;
      }

      @include mixins.respond-to(mobileOnly) {
        // width: 100%;
      }

      &:hover {
        background-color: var(--color-brick-red);

        color: var(--color-white);

        transition: background-color 0.2s cubic-bezier(0.65, 0, 0.35, 1), color 0.2s cubic-bezier(0.65, 0, 0.35, 1);
      }
    }
  }
}