@use "../mixins";

.description {
  position: relative;

  min-height: 361px;
  background-color: #242529;
  overflow: hidden;

  padding: 57px 0 65px 0;

  z-index: 1;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
    background-color: #242529;
    background-color: var(--color-white);

    transform: translateY(0);
    transition: transform 1s cubic-bezier(0.65, 0, 0.35, 1);

    z-index: 2;
  }

  &--active {
    &::after {
      transform: translateY(100%);
      transition: transform 1s cubic-bezier(0.65, 0, 0.35, 1);
    }
  }

  @include mixins.respond-to(notDesktop) {
    padding: 70px 0 50px 0;
  }

  &__container {
    display: flex;
    align-items: center;
    gap: 125px;

    width: auto;
    height: 100%;

    margin: 0 105px;

    @include mixins.respond-to(notDesktop) {
      flex-direction: column;
      gap: 30px;

      margin: 0 5%;
    }
  }

  &__column {
    height: 100%;

    &--left {
      display: flex;
      flex-direction: column;
      gap: 20px;

      max-width: 785px;

      @include mixins.respond-to(notDesktop) {
        gap: 40px;

        max-width: 100%;

        margin: 0;
      }
    }

    &--right {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 24px;

      &:hover {
        & .description__column-label {
          color: var(--color-white);
          transition: color 0.2s cubic-bezier(0.65, 0, 0.35, 1);

          &::before {
            transform: translate(-50%, -50%) scale(1);
            transition: transform 0.2s cubic-bezier(0.65, 0, 0.35, 1);
          }
        }
      }
    }
  }

  &__column-title {
    font-size: 18px;
    font-weight: 700;
    color: var(--color-white);
    text-transform: uppercase;

    @include mixins.respond-to(notDesktop) {
      font-size: 25px;
      line-height: 31px;

      max-width: 100%;
    }
  }

  &__column-text {
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    color: #CBCCD2;

    @include mixins.respond-to(notDesktop) {
      font-size: 18px;
      line-height: 28px;
    }
  }

  &__column-img {
    width: 69px;
    height: 69px;
  }

  &__column-label {
    position: relative;

    font-size: 14px;
    font-weight: 700;
    line-height: 130%;
    color: var(--color-white);
    text-transform: uppercase;
    text-align: center;

    transition: color 0.2s cubic-bezier(0.65, 0, 0.35, 1);

    z-index: 1;

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;

      width: 110%;
      height: 110%;
      background-color: var(--color-brick-red);

      transform: translate(-50%, -50%) scale(0);
      transition: transform 0.2s cubic-bezier(0.65, 0, 0.35, 1);

      z-index: -1;
    }
  }
}