@use "../mixins";

.description {
  padding: 57px 0 65px 0;

  &__container {
    display: flex;
    align-items: flex-end;
    gap: 125px;

    width: auto;
    height: 100%;

    margin: 0 105px;

    @include mixins.respond-to(notDesktop) {
      flex-direction: column;
      gap: 40px;

      margin: 0 5%;
    }
  }

  &__column {
    height: 100%;

    &--left {
      display: flex;
      flex-direction: column;
      gap: 20px;

      max-width: 785px;

      @include mixins.respond-to(notDesktop) {
        max-width: 100%;

        margin: 0;
      }
    }

    &--right {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 24px;

      &:hover {
        & .description__column-label {
          color: var(--color-white);
          transition: color 0.2s cubic-bezier(0.65, 0, 0.35, 1);

          &::before {
            transform: translate(-50%, -50%) scale(1);
            transition: transform 0.2s cubic-bezier(0.65, 0, 0.35, 1);
          }
        }
      }
    }
  }

  &__column-title {
    font-size: 18px;
    font-weight: 700;
    color: var(--color-white);
    text-transform: uppercase;
  }

  &__column-text {
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    color: #CBCCD2;
  }

  &__column-img {
    width: 69px;
    height: 69px;
  }

  &__column-label {
    position: relative;

    font-size: 14px;
    font-weight: 700;
    line-height: 130%;
    color: var(--color-white);
    text-transform: uppercase;
    text-align: center;

    transition: color 0.2s cubic-bezier(0.65, 0, 0.35, 1);

    z-index: 1;

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;

      width: 110%;
      height: 110%;
      background-color: var(--color-brick-red);

      transform: translate(-50%, -50%) scale(0);
      transition: transform 0.2s cubic-bezier(0.65, 0, 0.35, 1);

      z-index: -1;
    }
  }
}

.page-care__description .description {
  background-color: #242529;
}

.page-index__description .description {
  background-color: #242529;
}