@use "../mixins";

@keyframes circle {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

.heading {
  position: relative;

  display: flex;

  width: 100%;
  height: 541px;

  margin: 70px 0 0 0;

  z-index: 1;

  @include mixins.respond-to(notDesktop) {
    top: 0;

    height: auto;

    margin: 0;
  }

  &__cover {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
    background-color: var(--color-black);
    opacity: 77%;

    z-index: 3;
  }

  &__video-background {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
    object-fit: cover;

    z-index: 2;
  }

  &__content {
    position: relative;

    display: flex;
    align-items: center;
    gap: 100px;

    width: auto;

    margin: auto 100px 120px 100px;
    z-index: 4;

    @include mixins.respond-to(notDesktop) {
      flex-direction: column;
      gap: 40px;

      width: 90%;

      margin: 45px 5% 65px 5%;
    }
  }

  &__content-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 25px;

    max-width: 660px;

    @include mixins.respond-to(notDesktop) {
      max-width: 100%;
    }
  }

  &__content-title {
    font-family: var(--font-family-second);
    font-size: 30px;
    font-weight: 400px;
    line-height: 130%;
    color: var(--color-white);
    text-transform: uppercase;

    @include mixins.respond-to(notDesktop) {
      font-size: 18px;

      max-width: 100%;
    }
  }

  &__content-text {
    font-size: 15px;
    font-weight: 400px;
    line-height: 130%;
    color: var(--color-white);
  }

  &__round-link {
    position: relative;

    &:hover .heading__round-img {
      // transform: translateY(-50%) scale(1.3);
      filter: brightness(0) saturate(100%) invert(27%) sepia(46%) saturate(6263%) hue-rotate(344deg) brightness(84%) contrast(94%);
      transition: filter 0.1s cubic-bezier(0.65, 0, 0.35, 1);
    }

    &:hover .heading__round-text {
      color: var(--color-brick-red);
      transition: color 0.1s cubic-bezier(0.65, 0, 0.35, 1);
    }
  }

  &__round-img {
    position: absolute;
    top: 50%;
    left: 60px;

    transform: translateY(-50%);
    transition: filter 0.1s cubic-bezier(0.65, 0, 0.35, 1);
  }

  &__round-text {
    font-size: 13px;
    font-weight: 500;
    color: var(--color-white);

    & div {
      width: 142px !important;
      height: 142px !important;

      animation-name: circle;
      animation-duration: 10s;
      animation-iteration-count: infinite;
      animation-timing-function: linear;
    }
  }
}