@use "../mixins";

@keyframes circle {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

.heading {
  position: relative;

  display: flex;

  width: 100%;
  height: 541px;

  margin: 70px 0 0 0;

  z-index: 1;

  @include mixins.respond-to(notDesktop) {
    top: 0;

    height: auto;

    margin: 0;
  }

  &__video-background {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
    object-fit: cover;

    z-index: 2;
  }

  &__content {
    position: relative;

    display: flex;
    align-items: center;
    gap: 96px;

    width: auto;

    margin: auto 105px 94px 105px;
    z-index: 4;

    @include mixins.respond-to(notDesktop) {
      flex-direction: column;
      gap: 30px;

      width: 90%;

      margin: 70px 5% 50px 5%;
    }
  }

  &__content-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 25px;

    max-width: 675px;

    @include mixins.respond-to(notDesktop) {
      gap: 40px;

      max-width: 100%;
    }
  }

  &__content-title {
    font-family: var(--font-family-default);
    font-size: 30px;
    font-weight: 700;
    line-height: 36px;
    text-transform: uppercase;
    // color: var(--color-white);
    text-transform: uppercase;

    @include mixins.respond-to(notDesktop) {
      font-size: 25px;
      line-height: 31px;

      max-width: 100%;
    }
  }

  &__content-text {
    font-size: 15px;
    font-weight: 500;
    line-height: 24px;
    // color: var(--color-white);

    @include mixins.respond-to(notDesktop) {
      font-size: 18px;
      line-height: 28px;
    }
  }

  &__round-link {
    position: relative;

    &:hover .heading__round-img {
      // transform: translateY(-50%) scale(1.3);
      // filter: brightness(0) saturate(100%) invert(27%) sepia(46%) saturate(6263%) hue-rotate(344deg) brightness(84%) contrast(94%);
      // transition: filter 0.1s cubic-bezier(0.65, 0, 0.35, 1);
    }

    &:hover .heading__round-text {
      color: var(--color-brick-red);
      transition: color 0.2s cubic-bezier(0.65, 0, 0.35, 1);
    }
  }

  &__round-img {
    position: absolute;
    top: 50%;
    left: 60px;
    transform: translateY(-50%);
  }

  & .svg-default {
    fill: white;

    transition: fill 0.2s cubic-bezier(0.65, 0, 0.35, 1);

    &--active {
      fill: #d1282d;

      transition: fill 0.2s cubic-bezier(0.65, 0, 0.35, 1);
    }
  }

  &__round-text {
    font-size: 13px;
    font-weight: 500;
    color: var(--color-white);

    transition: color 0.2s cubic-bezier(0.65, 0, 0.35, 1);

    & div {
      width: 142px !important;
      height: 142px !important;

      animation-name: circle;
      animation-duration: 10s;
      animation-iteration-count: infinite;
      animation-timing-function: linear;
    }
  }
}