@use "../mixins";

.page-header {
  position: absolute;
  top: 0;
  left: 0;

  flex-shrink: 0;

  width: 100%;

  z-index: 6;

  @include mixins.respond-to(notDesktop) {
    position: relative;
    top: auto;
    left: auto;
  }
}