@use "../mixins";

.single-news {
  margin: 110px 0 0 0;

  @include mixins.respond-to(notDesktop) {
    margin: 70px 0 50px 0;
  }

  &__heading-image {
    margin: 0 0 60px 0;
  }

  &__heading-img {
    width: 100%;
    height: auto;
    max-height: 440px;
    object-fit: cover;

    @include mixins.respond-to(notDesktop) {
      min-height: 200px;
    }
  }

  &__container {
    display: flex;
    flex-direction: column;
    gap: 40px;

    margin: 0 105px;

    & h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      font-size: 40px;
      font-weight: 600;
      text-transform: uppercase;
      color: #323648;

      padding: 0;
      margin: 0;
    }

    & p,
    span,
    a {
      font-size: 16px;
      font-weight: 400;
      line-height: 32px;

      padding: 0;
      margin: 0;
    }

    & p,
    span {
      color: #323648;
    }

    & a {
      cursor: pointer;

      color: #002366;
      text-decoration: none;


      transition: color 0.3s;

      &:hover {
        color: var(--color-brick-red);

        transition: color 0.3s;
      }
    }

    & ul {
      list-style: none;

      padding: 0;
      margin: 0;
    }

    & div {
      gap: 30px;
    }
  }
}