@use "../mixins";

.single-news {
  margin: 110px 0 61px 0;

  @include mixins.respond-to(notDesktop) {
    margin: 70px 0 50px 0;
  }

  &__heading-image {
    margin: 0 0 60px 0;

    @include mixins.respond-to(notDesktop) {
      margin: 0;
    }
  }

  &__heading-img {
    width: 100%;
    height: auto;
    max-height: 440px;
    object-fit: cover;

    @include mixins.respond-to(notDesktop) {
      min-height: 200px;
    }
  }

  &__container {
    display: flex;
    flex-direction: column;
    gap: 78px;

    margin: 0 105px;

    @include mixins.respond-to(notDesktop) {
      gap: 0;

      margin: 70px 5% 50px 5%;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 40px;

    & h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      font-size: 40px;
      font-weight: 600;
      text-transform: uppercase;
      color: #323648;

      padding: 0;
      margin: 0;

      @include mixins.respond-to(notDesktop) {
        font-size: 25px;
        line-height: 31px;
      }
    }

    & p,
    span,
    a {
      font-size: 16px;
      font-weight: 400;
      line-height: 32px;

      padding: 0;
      margin: 0;

      @include mixins.respond-to(notDesktop) {
        font-size: 18px;
        line-height: 28px;
      }
    }

    & p,
    span {
      color: #323648;
    }

    & a {
      cursor: pointer;

      color: #002366;
      text-decoration: none;

      transition: color 0.3s;

      &:hover {
        color: var(--color-brick-red);

        transition: color 0.3s;
      }
    }

    & ul {
      list-style: none;

      padding: 0;
      margin: 0;
    }

    & div {
      display: flex;
      align-items: flex-start;
      gap: 30px;

      @include mixins.respond-to(notDesktop) {
        flex-direction: column;
      }
    }

    & img {
      object-fit: cover;

      @include mixins.respond-to(notDesktop) {
        width: 100%;
        height: auto;
        max-height: 500px;
      }
    }
  }

  &__similar {
    display: flex;
    flex-direction: column;
    gap: 40px;

    @include mixins.respond-to(notDesktop) {
      margin: 70px 0 50px 0;
    }
  }

  &__similar-title {
    color: #323648;
    font-size: 30px;
    font-weight: 600;
    text-transform: uppercase;

    @include mixins.respond-to(notDesktop) {
      font-size: 25px;
      line-height: 31px;
    }
  }

  &__similar-wrapper {
    display: inline-grid;
    grid-template: 1fr / repeat(auto-fit, minmax(371px, 1fr));
    grid-auto-flow: row;
    gap: 22px 29px;

    @include mixins.respond-to(notDesktop) {
      grid-template: 3fr / auto-fit, minmax(280px, 1fr);
      gap: 40px;
    }
  }
}