@use "../mixins";

.single-news {
  margin: 110px 0 0 0;

  @include mixins.respond-to(notDesktop) {
    margin: 70px 0 50px 0;
  }

  &__heading-image {
    margin: 0 0 60px 0;
  }

  &__heading-img {
    width: 100%;
    height: auto;
    max-height: 440px;
    object-fit: cover;

    @include mixins.respond-to(notDesktop) {
      min-height: 200px;
    }
  }

  &__container {
    margin: 0 105px;

    & p,
    span,
    a {}
  }
}